
@media screen and (max-width: 450px) {
	.header-logo 
	{
		font-size:3em !important;
	}
	.header-title , .header-subtitle{
		font-size:1.5em;
	}
	/*
	*
	* Main Heading (featured Work)
	*
	*/
 
	 .main-heading h2{
		 font-size:2em !Important;
		 font-weight:700 !Important;
		 padding-top: 2em; 
		 letter-spacing:0.3em;
		 text-align:center;
	 }
	
	
	/*
	 *
	 * Project
	 *
	 */
	 
	 .project-title{
		 font-family: 'Kaushan Script', cursive;
		 padding:0.1em 0 0.2em 0;
		 letter-spacing:normal;
		 text-align:center;	 
		 font-weight:600;
	 }
	 
	 .project-display{
		 padding-top:2em;
	 }
	
	/*Footer*/
	
	.container-footer h2{
		font-size:0.9em !Important;
		font-weight:900;
	}

	i{
		font-size:1em;
		padding: 0 0.09em 0 0.09em;
		margin:0;
	}
}

